body{
  margin: 0;
  padding: 0;
}

#footer-content{
  width: 100%;
  background-color:gray;;
  padding: 0 !important;
  margin: 0 !important;
}

footer a{
  text-decoration: none;
  color: black;
}

footer ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

footer li{
  display: inline;
}

footer div{
  padding-left: 20px;
  float: left;
  width: 23%;
}
