
#footer-content{
  width: 100%;
  font-size: 18px;
  background-color: #242729;
  color: #7e94a6;
  padding: 0 !important;
  margin: 0 !important;
}

footer a{
  text-decoration: none;
  color: #999999;
}

footer a:hover{
  color: #EEE
}

footer ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

footer li{
  *display: inline;
}

footer div{
  padding-left: 60px;
  padding-bottom: 30px;
  padding-top: 10px;
  float: left;
  width: auto;
}

.icons-footer {
@ -266,6 +296,12 @@ footer a:hover {
footer a:active {
  color: black;
}
/*Here ends the styling of the footer.*/
