body{
  background-color: darkcyan;
    font-size: 1.2em;
}

.content_main{
  background-color: darkcyan;
  height: 1300px;
}

.content_left{
  margin-left: 2%;
    margin-top: 2%;
  padding: 2%;
  width: 26%;
  float:left;
  background-color: #aec6cf ;
    height: 400px;
    
}

.content_right{
 margin-left: 2%;
    margin-top: 2%;
  padding: 2%;
  width: 26%;
  float:left;
  background-color: lightgreen;
    height: 400px;
}
.content_center{
  margin-left: 2%;
    margin-top: 2%;
  padding: 2%;
  width: 26%;
  float:left;
  background-color: lightgreen;
    height: 400px;
}
