 body{
  margin: 0;
  padding: 0;
  font-size: 28px;
  background-color: snow;
  font-family: Helvetica Neue;
}

div.showcase{
/*  /background-color: #333;*/
/*  background-color: red;*/
}

}
div.login{
  display: none;
  float: right;
  background-color: blue;
  width: 30%;
  height: 220px;

}

div.showcase img{
  width: 100%;
  display: block;
    height: 615px;
    float:left;
}
div.showcase2 img{
  width: 100%;
  display: block;
    height: auto;
    float:left;
}
.Welcome {
    font-family: Helvetica Neue;
    bottom: 150px;
    left: 50px;
    color: black;
    font-size: 50px;}
div.studying img {
    width: 100%;
    display: block;
}

.navbar{
  background-color: rgba(90,90,90,0.5);
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
}

.navbar:hover {
  background-color: rgba(90,90,90,0.9);
  color: black;
}

.navbar .iteam{
  height: 80px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.navbar a {
  text-align: center;
  vertical-align: middle;
  line-height: 80px;
  float: inherit;
  color: #f2f2f2;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
  font-size: 20px;
}

.navbar .left a:hover {
  background: #ddd;
  color: black;
}

.navbar .right a:hover {
  color: darkgray
}

.navbar .left{
  float: left;
  width: 37%;
}

.navbar .right{
  float: right;
    width: 30%;
}

.navbar .center{
  height: inherit;
  width: 33%;
  text-align: left;
  vertical-align: bottom;
  float: left;
}

.navbar .center img{
  height: 60px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

section{
  clear: both;
  background-color: snow;
}

article{
  background-color: snow;
}
 /* Exam types */
#Examtypes {
  font-family: Helvetica Neue;
    font-size: 15px;
    padding-left:5%;
    float:left;

}

.examsheading {
    font-family: Helvetica Neue;
    font-weight: 100;
    font-size: 50px;
    color: grey;
    padding-left: 15%;
    float:left;

}

.digitalexams {
    font-family: Helvetica Neue;
    font-weight: 100;
    font-size: 50px;
    color: grey;
    padding-left: 60%;

}

.firstblock {
    font-family: Helvetica Neue;
    font-weight: 100;
    font-size: 16px;
    width:43%;
    float:left;
   padding-left: 0;
    }
.Digital {
    font-family: Helvetica Neue;
    font-weight: 100;
    font-size: 16px;
   padding-left: 55%;
    width: 40%;
}
.WISEFLOW2 {
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
    text-align: center;
   }
.Quote {
    font-size: 60px;
    padding-top: 200px;
    padding-bottom: 250px;
    text-align: center;
    font-weight: 100;
}
.rules{
    padding-top: 5%;
    text-align: center;
    font-family: Helvetica Neue;
    font-weight:100;
    font-size: 0.8em;

}

/*The Advice.html styling starts here*/
#cover-img {
  width: 100%;
  display: block;
}

#container {
    box-sizing: border-box;
}

#main-advices h1 {
  text-align: center;
    font-family: Helvetica Neue;
    font-weight: bold;
}

/*This is for the li titles in the 5 Study Techniques*/
.bold-titles {
  font-weight: bold;
  font-style: italic;
    font-family: Helvetica Neue;

}

#left-container-advice {
  width: 60%;
  display: inline-block;
  float: left;
  font-size: 0.65em;
  margin-top: 50px;
  border-right: 1px solid black;
    font-family: Helvetica Neue;
}

#left-container-advice li {
  padding-bottom: 20px;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

#right-container-advice {
  width: 35%;
  display: inline-block;
  float: right;
  margin-top: 80px;
  font-size: 1em;
}

#food-advice {
  margin: 20px auto;
  padding: 5px;
  width: 75%;
  height: 200px;
  /*I want to insert a background image with a link inside a rounded box*/
  /*border: 1px solid black;
  border-radius: 50px 50px;*/
  /*background-image: url("img/foods-that-make-you-smarter.png");*/
}

#food-advice img {
  width: 350px;
  height: 200px;
}

.video-tips {
  margin-top: 50px;
}

.video-tips video {
  margin-left: 25px;
  padding-top: 5px;
}
/*The Advice styling ends here*/

/*LOGIN FORM starts here */
#login{
  display: none;
  float: right;
  background-color: white;
  width: 100%;
  height: auto;
}

#super:hover + #login{
    display: block;
}

#super{
  padding-left: 25%;
}

#login:hover{
  display: block;
}

/* help */

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: no  ne;
  }
  .cancelbtn {
     width: 100%;
  }
}

/* Login form ends here */

/*Styling fpr the TEAM page starts here [Juan]*/
.team-member {
  width: 25%;
  display: block;
  float: left;
  margin: 100px auto;
}

#contacts{
  text-align: center;
  font-size: 20px;
}

.member-img {
  margin: 0 auto;
  padding: 5px;
  width: 75%;
  height: auto;
  border-radius: 50%;
}

.member-info {
  text-align: center;
}
/*TEAM page ends here[Juan]*/


/*Schedule Tab Bernardo*/
/*Lenka*/


#upperbackground {
    background-color: #ffffff;
 color: black;
    height: 80px;
    width: 100%;
}
.table {
     padding-left: 15%;
}
.tg  {
    border-collapse:collapse;

    width: 70%;

}

.tg td{font-family:Helvetica Neue;
    font-size:14px;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    border-color:black;
    height: 25px;
    width: 15%}
.tg th{font-family:Helvetica Neue;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-loqm{font-weight:bold;background-color:#656565;color:#ffffff;border-color:#656565;text-align:left;vertical-align:top}
.tg .tg-tirw{font-weight:bold;background-color:#d8d8d8;color:#333333;border-color:#333333;text-align:center;vertical-align:top}
.tg .tg-ulos{font-weight:bold;background-color:#d8d8d8;color:#000000;border-color:#000000;text-align:center;vertical-align:top}
.tg .tg-3ya8{font-weight:bold;background-color:#656565;color:#ffffff;border-color:#656565;text-align:center;vertical-align:top}
.tg .tg-z9n4{font-weight:bold;background-color:#403e3e;color:#000000;border-color:#000000;text-align:center;vertical-align:top}

/*Rules Tab Bernardo*/
.rules {box-sizing: border-box;border-spacing:5%;width: 50%;margin: auto;}
.rules > h1 {margin: 10% 30%;}
.rules > ul {}
